@size: 24px;

@iconBlack: fade(black, 80%);
@iconDisableGray: fade(black, 20%);
@iconHiddenGray: fade(black, 0%);

@backgroundColor: fade(black, 5%);
@itemActivedGray: fade(black, 15%);

@innerBorderColor: fade(black, 30%);

.rightBorder() {
  box-shadow: inset -1px 0px 0px @innerBorderColor;
}

.devBorder(@color) {
  // box-shadow: 0px 0px 0px 1px @color;
}

.cursorPointer () {
  cursor: pointer;
}

// * ------------------------------------------------

.tree-container {
  width: 100%;
  height: 100%;

  user-select: none;

  display: flex;

  background-color: @backgroundColor;

  * {
    margin: 0;
    padding: 0;
  }

  ul.tree-folder {
    padding-left: 0;
    list-style: none;
    flex-grow: 1;

    overflow: hidden;

    // * ----------------

    height: auto;

    &.collapsed {
      height: 0;
    }

    // * ----------------

    // TODO collapse animation (with auto height), dont know how yet
    // transition: max-height 0.3s ease-in-out;
    // max-height: 600px;

    // &.collapsed {
    //   max-height: 0;
    // }
  }

  .tree-item {
    // .devBorder(black);

    margin-left: -0.125 * @size;

    height: @size;
    display: flex;

    border-bottom: 1px solid @innerBorderColor;

    &.actived {
      background: @itemActivedGray;
    }

    .tree-item-info {
      display: flex;
      flex-grow: 1;
      line-height: @size;

      .tree-item-title {
        margin-left: 0.125 * @size;
      }
    }

    span.tree-icon {
      .devBorder(red);

      display: inline-block;

      width: @size;
      min-width: @size;
      height: @size;

      display: inline-flex;
      justify-content: center;
      align-items: center;

      // * ----------------

      @iconScale: scale(0.7);
      @typeShrink: 0.425 * @size;
      // @typeShrink: 0 * @size;

      & > * {
        transform: @iconScale;
        transition: transform 0.1s ease-in-out;
        opacity: 0.7;
      }

      &.fii-eye {
        .cursorPointer();

        &.fii-eye-shown > * {
          transform: scale(0.6);
        }

        &.fii-eye-hidden > * {
          color: @iconDisableGray;
        }
      }

      &.fii-switcher {
        .cursorPointer();

        &.fii-collapsed > * {
          transform: @iconScale rotate(-90deg);
        }
      }

      &.fii-type {
        margin-left: -@typeShrink;
        pointer-events: none;

        &.fii-item {
          margin-left: -@typeShrink + @size;
        }
      }

      &.fii-locker {
        .cursorPointer();

        // &.fii-locked > * {
        // }

        &.fii-unlocked > * {
          color: @iconHiddenGray;
        }
      }
    }
  }
}
